@model IEnumerable<QA.Areas.MasterData.Models.MasterData>
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.landing_firstTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.landing_titleContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.landing_firstTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.landing_titleContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.mdId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.mdId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.mdId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
