@model QA.Areas.MasterData.Models.MasterData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MasterData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.landing_firstTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.landing_firstTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.landing_titleContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.landing_titleContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mdId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
